In [2]:
%matplotlib inline
import utils; reload(utils)
from utils import *
from __future__ import division, print_function

Using Theano backend.

In [33]:
#path = "data/ml-20m/"
path = "data/ml-small/"
model_path = path + 'models/'
if not os.path.exists(model_path): os.mkdir(model_path)
batch_size=64

In [34]:
ratings = pd.read_csv(path+'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [35]:
len(ratings)

100004

In [36]:
movie_names = pd.read_csv(path+'movies.csv').set_index('movieId')['title'].to_dict()

In [37]:
users = ratings.userId.unique()
movies = ratings.movieId.unique()

In [38]:
userid2idx = {o:i for i,o in enumerate(users)}
movieid2idx = {o:i for i,o in enumerate(movies)}

In [39]:
ratings.movieId = ratings.movieId.apply(lambda x: movieid2idx[x])
ratings.userId = ratings.userId.apply(lambda x: userid2idx[x])

In [40]:
user_min, user_max, movie_min, movie_max = (ratings.userId.min(), 
    ratings.userId.max(), ratings.movieId.min(), ratings.movieId.max())
user_min, user_max, movie_min, movie_max

(0, 670, 0, 9065)

In [41]:
n_users = ratings.userId.nunique()
n_movies = ratings.movieId.nunique()
n_users, n_movies

(671, 9066)

In [42]:
n_factors = 50

In [43]:
np.random.seed = 42

In [44]:
msk = np.random.rand(len(ratings)) < 0.8
trn = ratings[msk]
val = ratings[~msk]

In [76]:
g=ratings.groupby('userId')['rating'].count()
topUsers=g.sort_values(ascending=False)[:15]

In [78]:
g=ratings.groupby('movieId')['rating'].count()
topMovies=g.sort_values(ascending=False)[:15]

In [80]:
top_r = ratings.join(topUsers, rsuffix='_r', how='inner', on='userId')

In [81]:
top_r = top_r.join(topMovies, rsuffix='_r', how='inner', on='movieId')

In [82]:
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,27,49,57,72,79,89,92,99,143,179,180,197,402,417,505
userId,,,,,,,,,,,,,,,
14,3.0,5.0,1.0,3.0,4.0,4.0,5.0,2.0,5.0,5.0,4.0,5.0,5.0,2.0,5.0
29,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,4.0,4.0,5.0,5.0,3.0,4.0,5.0
72,4.0,5.0,5.0,4.0,5.0,3.0,4.5,5.0,4.5,5.0,5.0,5.0,4.5,5.0,4.0
211,5.0,4.0,4.0,3.0,5.0,3.0,4.0,4.5,4.0,NaN,3.0,3.0,5.0,3.0,NaN
212,2.5,NaN,2.0,5.0,NaN,4.0,2.5,NaN,5.0,5.0,3.0,3.0,4.0,3.0,2.0
293,3.0,NaN,4.0,4.0,4.0,3.0,NaN,3.0,4.0,4.0,4.5,4.0,4.5,4.0,NaN
310,3.0,3.0,5.0,4.5,5.0,4.5,2.0,4.5,4.0,3.0,4.5,4.5,4.0,3.0,4.0
379,5.0,5.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,4.0,NaN,3.0,5.0,4.0,4.0
451,4.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,4.0,2.0,3.5,5.0
467,3.0,3.5,3.0,2.5,NaN,NaN,3.0,3.5,3.5,3.0,3.5,3.0,3.0,4.0,4.0
508,5.0,5.0,4.0,3.0,5.0,2.0,4.0,4.0,5.0,5.0,5.0,3.0,4.5,3.0,4.5
546,NaN,5.0,2.0,3.0,5.0,NaN,5.0,5.0,NaN,2.5,2.0,3.5,3.5,3.5,5.0
563,1.0,5.0,3.0,5.0,4.0,5.0,5.0,NaN,2.0,5.0,5.0,3.0,3.0,4.0,5.0
579,4.5,4.5,3.5,3.0,4.0,4.5,4.0,4.0,4.0,4.0,3.5,3.0,4.5,4.0,4.5
623,NaN,5.0,3.0,3.0,NaN,3.0,5.0,NaN,5.0,5.0,5.0,5.0,2.0,5.0,4.0

In [23]:
user_in = Input(shape=(1,), dtype='int64', name='user_in')
u = Embedding(n_users, n_factors, input_length=1, W_regularizer=l2(1e-4))(user_in)
movie_in = Input(shape=(1,), dtype='int64', name='movie_in')
m = Embedding(n_movies, n_factors, input_length=1, W_regularizer=l2(1e-4))(movie_in)

In [24]:
x = merge([u, m], mode='dot')
x = Flatten()(x)
model = Model([user_in, movie_in], x)
model.compile(Adam(0.001), loss='mse')

In [25]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=1, 
          validation_data=([val.userId, val.movieId], val.rating))

Train on 80010 samples, validate on 19994 samples
Epoch 1/1
80010/80010 [==============================] - 1s - loss: 9.8328 - val_loss: 3.7591

In [26]:
model.optimizer.lr=0.01

In [27]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=3, 
          validation_data=([val.userId, val.movieId], val.rating))

Train on 80010 samples, validate on 19994 samples
Epoch 1/3
80010/80010 [==============================] - 2s - loss: 3.1172 - val_loss: 2.0018
Epoch 2/3
80010/80010 [==============================] - 1s - loss: 2.4130 - val_loss: 1.6529
Epoch 3/3
80010/80010 [==============================] - 1s - loss: 2.2526 - val_loss: 1.5249

In [28]:
model.optimizer.lr=0.001

In [29]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=6, 
          validation_data=([val.userId, val.movieId], val.rating))

Train on 80010 samples, validate on 19994 samples
Epoch 1/6
80010/80010 [==============================] - 1s - loss: 2.1931 - val_loss: 1.4808
Epoch 2/6
80010/80010 [==============================] - 1s - loss: 2.1621 - val_loss: 1.4582
Epoch 3/6
80010/80010 [==============================] - 1s - loss: 2.1386 - val_loss: 1.4439
Epoch 4/6
80010/80010 [==============================] - 1s - loss: 2.1143 - val_loss: 1.4423
Epoch 5/6
80010/80010 [==============================] - 1s - loss: 2.0909 - val_loss: 1.4441
Epoch 6/6
80010/80010 [==============================] - 1s - loss: 2.0673 - val_loss: 1.4457

In [45]:
def embedding_input(name, n_in, n_out, reg):
    inp = Input(shape=(1,), dtype='int64', name=name)
    return inp, Embedding(n_in, n_out, input_length=1, W_regularizer=l2(reg))(inp)

In [46]:
user_in, u = embedding_input('user_in', n_users, n_factors, 1e-4)
movie_in, m = embedding_input('movie_in', n_movies, n_factors, 1e-4)

In [47]:
def create_bias(inp, n_in):
    x = Embedding(n_in, 1, input_length=1)(inp)
    return Flatten()(x)

In [48]:
ub = create_bias(user_in, n_users)
mb = create_bias(movie_in, n_movies)

In [49]:
x = merge([u, m], mode='dot')
x = Flatten()(x)
x = merge([x, ub], mode='sum')
x = merge([x, mb], mode='sum')
model = Model([user_in, movie_in], x)
model.compile(Adam(0.001), loss='mse')

In [418]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=1, 
          validation_data=([val.userId, val.movieId], val.rating))

In [419]:
model.optimizer.lr=0.01

In [420]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=6, 
          validation_data=([val.userId, val.movieId], val.rating))

In [421]:
model.optimizer.lr=0.001

In [422]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=10, 
          validation_data=([val.userId, val.movieId], val.rating))

In [248]:
model.fit([trn.userId, trn.movieId], trn.rating, batch_size=64, nb_epoch=5, 
          validation_data=([val.userId, val.movieId], val.rating))

Train on 79838 samples, validate on 20166 samples
Epoch 1/5
79838/79838 [==============================] - 2s - loss: 0.6237 - val_loss: 0.8030
Epoch 2/5
79838/79838 [==============================] - 2s - loss: 0.6084 - val_loss: 0.8016
Epoch 3/5
79838/79838 [==============================] - 2s - loss: 0.5950 - val_loss: 0.8004
Epoch 4/5
79838/79838 [==============================] - 2s - loss: 0.5844 - val_loss: 0.7981
Epoch 5/5
79838/79838 [==============================] - 2s - loss: 0.5747 - val_loss: 0.7979

This result is quite a bit better than the best benchmarks that we could find with a quick google search - so looks like a great approach!

In [100]:
model.save_weights(model_path+'bias.h5')

In [50]:
model.load_weights(model_path+'bias.h5')